.board {
    min-width: 290px;
    width: 290px;
    height: 100%;
    overflow-y: auto;
    flex-basis: 290px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #17394d;
}

.board-inner {
    background-color: RGB(223 227 230 / 55%);
    padding: 15px;
    border-radius: 3px;
}

.board-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5px;
}

.board-header-title {
    font-weight: bold;
    font-size: 1rem;
    display: flex;
    gap: 5px;
    align-items: center;
}

.board-header-title span {
    color: RGB(145, 145, 145);
}

.board-cards {
    background-color: #f8f8f8;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
  }

.custom-input {
    width: 100%;
}
.board-add-card {
    background-color: #fff;
    color: #000;
    border-radius: 10px;
    box-shadow: 1px 1px 0 1px rgba(0, 0, 0, 0.12);
    width: 100%;
    text-align: center;
}
.custom-display {
    padding: 6px 12px;
    border-radius: 3px;
    color: #000;
    cursor: pointer;
    transition: 200ms;
}